<!DOCTYPE html>
<html>
<head>
    <title>{{ paths.svg_filename }}</title>
    <style type="text/css">
        body {
            background-color: black;
        }
        .float_1_1{
            position:absolute;
            top:0px;
            left:0px;
        }
        .float_1_2{
            position:absolute;
            top:0px;
            left:{{ icon.width + 1 }}px;
        }
        .float_1_3{
            position:absolute;
            top:0px;
            left:{{ 2 * icon.width + 2 }}px;
        }
        .float_2_1{
            position:absolute;
            top:{{ icon.height + 1 }}px;
            left:0px;
        }
        .float_2_2{
            position:absolute;
            top:{{ icon.height + 1 }}px;
            left:{{ icon.width + 1 }}px;
        }
        .float_2_3{
            position:absolute;
            top:{{ icon.height + 1 }}px;
            left:{{ 2 * icon.width + 2 }}px;
        }
        img {
            width:{{ icon.width }}px;
            height:{{ icon.height }}px;
        }
    </style>
    <script src="script.js"></script>
</head>
<body>
    <div class="float_1_1">
        <img src="{{ paths.svg_filename }}" />
    </div>

    <div class="float_1_2">
        <img src="{{ paths.origin_png_filename }}" />
    </div>
    <div class="float_1_2">
        <img src="{{ paths.svg_filename }}" />
    </div>

    <div class="float_1_3">
        <img src="{{ paths.diff_filename }}" />
    </div>

    <div class="float_2_1">
        <img src="{{ paths.origin_png_filename }}">
    </div>
    <div class="float_2_2">
        <img src="{{ paths.svg_filename }}">
    </div>
    <div class="float_2_2">
        <img src="{{ paths.origin_png_filename }}">
    </div>

    <!-- Grid -->
<!--
    <div class="float_1_1">
        <img src="{{ paths.grid_filename }}" />
    </div>
    <div class="float_1_2">
        <img src="{{ paths.grid_filename }}" />
    </div>
    <div class="float_1_3">
        <img src="{{ paths.grid_filename }}" />
    </div>
    <div class="float_2_1">
        <img src="{{ paths.grid_filename }}" />
    </div>
    <div class="float_2_2">
        <img src="{{ paths.grid_filename }}" />
    </div>
    <div class="float_2_3">
        <img src="{{ paths.grid_filename }}" />
    </div>
-->

</body>
</html>
